<section class="footer">
    <div class="logo-class">
        <img src="Images/logo.png">
        <ul>
            <h3>Company</h3>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
        </ul>
    </div>
    <div class="quick-links">
        <ul>
            <li><h3>Quick Links</h3></li>
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li><a href="/cart">Cart</a></li>
        </ul>
    </div>
    <div class="contacts">
        <ul>
            <li>+254 722699004</li>
            <li>+254 726747083</li>
            <li>info@pantracksKenya.co.ke</li>
        </ul>
        <div class="map">
            <img src="Images/map.png">
        </div>
    </div>
    <div class="subscribe">
        <h3>Talk to us</h3>
        <form class="input">
            <input type="email" placeholder="Enter your email here">
            <input type="text" placeholder="Enter your Name here">
        </form>
        <button>Submit</button>
        <h2>Website powered by <span class="danger">Developer_Creations</span></h2>
    </div>
</section>
<script src="scripts/script.js"></script>
<script src="scripts/home.js"></script>
<script src="scripts/shop.js"></script>
<script src="scripts/admin.js"></script>
<script src="scripts/category.js"></script>
<script src="scripts/services.js"></script>
</body>
</html>