<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pan Tracks</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/about-us.css">
    <link rel="stylesheet" href="styles/categories.css">
    <link rel="stylesheet" href="styles/services.css">
    <link rel="stylesheet" href="styles/shop.css">
    <link rel="stylesheet" href="styles/contact-us.css">
    <link rel="stylesheet" href="styles/cart.css">
    <link rel="stylesheet" href="styles/details.css">
    <link rel="stylesheet" href="styles/admin.css">
</head>
<body>
    <div class="top-nav">
        <div class="left">
            <h3>Welcome to <h1> P A N <span class="warning">T R U C K S</span> </h1>  - Nairobi, Kenya</h3>
        </div>
        <div class="right">
            <ul>
                <li>+254 722699004</li>
                <li>+254 726747083</li>
                <li>info@pantracksKenya.co.ke</li>
            </ul>
        </div>
    </div>
    

    


