:root{
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f5e60c9c;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247,88,66,0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.555);
    --color-black: #000;
    --color-bg: #1f2641;
    --color-bg1: #29292975;
    --color-bg2: rgba(128, 128, 128, 0.7);
    
    --mini-container-width: 80%;
    --container-width: 90%;
    --mini-card-width: 80%;
    --card-width: 90%;

    --transition: all 200ms ease;
    --transition-long: all 400ms ease;
} 

.category-banner{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 78vh;
}
.category-banner .right{
    margin: 2rem 3rem;
    border-radius: 10px;
}
.category-banner .category-info{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem;
    margin: 2rem;
    border: 1px solid var(--color-bg1);
    border-radius: 1rem;
    background-color: rgba(128, 128, 128, 0.4);
}
.category-info h3{
    transform: translateX(6vw);
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 30, 0, 0.842);
    width: fit-content;
    background-color: rgb(255, 255, 255);
    padding: 5px 2rem 5px 2px;
}
.category-info h3::before{
    content: "‎";
    width: 2px;
    background-color: rgba(255, 30, 0, 0.842);
    margin-right: 5px;
}


.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.categories  .cat-h2{
    transform: translateX(35rem);
}
.categories .category-container > h2{
    margin-top: 2rem;
    transform: translateX(35vw);
    border: 1px solid grey;
    border-radius: 1rem;
    width: fit-content;
    padding: 5px;
    color: rgba(8, 8, 8, 0.932);;
}
.category-container .mini-card-container{
    width: 100%;
    background-color: rgba(8, 8, 8, 0.932);
    color: wheat;
}
.category-container .mini-card-container .mini-card{
    width: 12rem;
    height: fit-content;
}
.category-container .mini-card-container .mini-card.active{
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.842);
    background-color: red;
}
.category-container .mini-card-container .mini-card:hover{
    border: none;
    box-shadow: 0 0 .3rem white;
    scale: 1.1;
    filter: saturate(.5);
}
.category-container .mini-card-container .mini-card img{
    height: 100%;
    object-fit: fill;
    aspect-ratio: 1/.6;
}
.category-container .mini-card-container .mini-card h3{
    font-size: 15px;
    text-shadow: 0 1rem 3rem var(--color-black);
    color: var(--color-white);
    border-radius: 3px;
}
.category-container .card-container{
    grid-template-columns: repeat(6,1fr);
}
.category-container .navigators{
    transform: translateX(40vw);
    margin-bottom: 1rem;
}





@media screen and (max-width: 1050px){
    
    .categories .cat-h2{
        transform: translateX(25rem);
    }
    .category-container .card-container{
        grid-template-columns: repeat(5,1fr);
    }
    .category-info h3{
        transform: translateX(3vw);
        border-bottom: transparent;
    }
    .category-container .mini-card-container .mini-card{
        width: fit-content;
        height: fit-content;
    }
    .category-container .navigators{
        transform: translateX(30vw);
    }
    
}
@media screen and (max-width: 900px) {
    
    .category-banner{
        grid-template-columns: 100%;
    }
    .categories .cat-h2{
        transform: translateX(21rem);
        font-size: 1.6rem;
    }
    .category-banner .right{
        display: none;
    }
    .category-banner .category-info{
        text-shadow: 0 0 .2rem white;
        background-color: transparent;
        background-image: url('/Images/chasis.png');
    }
    .category-info h3,
    .category-info p,
    .category-info li{
        padding: 3px 15px;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .category-container .card-container{
        grid-template-columns: repeat(4,1fr);
    }
    .category-container .navigators{
        width: 25%;
        transform: translate(40vw, .5rem);
    }
    .categories .category-container > h2{
        font-size: 1.2rem;
        transform: translateX(22vw);
    }
    .category-container .navigators{
        transform: translateX(40vw);
    }
}
@media screen and (max-width: 700px) {
    .categories .cat-h2{
        transform: translateX(15rem);
    }
    
    .category-container .card-container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 550px){
    
    .categories .cat-h2{
        transform: translateX(10rem);
    }
    .category-container .card-container{
        grid-template-columns: repeat(1,1fr);
    }
    .category-container .navigators{
        width: 30%;
    }
    .categories .category-container > h2{
        transform: translateX(20vw);
    }
    .categories .category-container .mini-card-container img{
        display: none;
    }
    .categories .mini-card-container{
        gap: 2px;
        grid-template-columns: 100%;
    }
    .category-container .navigators{
        transform: translateX(22vw);
    }
}